<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167248965293-o9o4n72ojpavp40ucs73aeb7msi8fa39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167248965293-o9o4n72ojpavp40ucs73aeb7msi8fa39</string>
	<key>API_KEY</key>
	<string>AIzaSyAkO2hwDgbv6Py_8hAMyneLlMKWVIOUcUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>167248965293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.uco.tvu14.cmsc4303Lesson3</string>
	<key>PROJECT_ID</key>
	<string>cmsc4303-trinhv-lesson3</string>
	<key>STORAGE_BUCKET</key>
	<string>cmsc4303-trinhv-lesson3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167248965293:ios:fa12e7e7f9bf1ad844a024</string>
</dict>
</plist>